:root {
    --pictureWidthHeight: 11rem;
}

body,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
}

.card-container {
    padding: 1.7rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    text-align: center;
    border-radius: 10px;
}

.btn-container {
    gap: 1.3rem;
}

.profile-picture {
    width: var(--pictureWidthHeight);
    height: var(--pictureWidthHeight);
    overflow: hidden;
    border-radius: 100%;
}

.profile-picture img {
    width: 100%;
    height: 100%;
}

.ul-common {
    list-style: none;
    justify-content: space-evenly;
    color: #656565;
    font-weight: 600;
    padding: 0;
}

.ul-common p {
    margin-bottom: 3px;
}

.ul-common span {
    font-weight: bolder;
    color: #565656;
    font-size: 20px;
}

.name {
    color: #151515;
    font-size: xx-large;
    letter-spacing: 2px;
    font-family: 'Kanit', sans-serif;
}

.profeson {
    font-size: x-large;
    margin-top: 8px;
    color: #565656;
}

.btn {
    font-weight: bold;
    font-size: larger;
    padding: 0.7rem 2rem;
    border-radius: 5px;
}

.btn-bg-full {
    background-color: #111111;
    color: white;
    border: none;
    transition: all 0.5s;
}

.btn-bg-full:hover {
    background-color: #333333;
    scale: 105%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn-bt-transprent {
    border: 1xp solid #111111;
    color: #111111;
    transition: all 0.5s;
}

.btn-bt-transprent:hover {
    border: 1px solid #333333;
    color: #333333;
    scale: 105%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.bio {
    width: 26rem;
    padding: 0 1rem;
    color: #6a6a6a;
    line-height: 27px;
    font-weight: 500;
    font-size: 18px;
}

.bage {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #888888;
    color: #fff;
    padding: 6px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 4px;
    font-family: 'Kanit', sans-serif;
}

/* utilet class for project */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.mx-auto {
    margin: 0 auto;
}

.mt-common {
    margin-top: 1.5rem;
}

.capitalize {
    text-transform: capitalize;
}

.relative {
    position: relative;
}
